In [1]:
print(1+2)
print(2+'hello')
print('hello')

3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
a=5**2-6//2*5+7-6%2
print(a)

17

In [3]:
n=2
x=1
y=5
if(n%2 ==0):
     print(x+y)
else:
    print(x*y)

6

In [4]:
#largest b/w three number
n=5
n1=10
n2=7
if(n>n1 and n>n2):
   print("n is greater")
elif(n1>n and n1>n2):
   print("n1 is greater")
else:
   print("n2 is greater")

n1 is greater

In [5]:
#second largest b/w  three numbers
n=5
n1=10
n2=7
if(n>n1 and n>n2):
    print("n is largest")
    if(n1>n2):
        print("n1 is second largest")
    else:
        print("n2 is second largest")
elif(n1>n and n1>n2):
    print("n1 is largest")
    if(n>n2):
        print("n is secod largest")
    else:
        print("n2 is second largest")
else:
    print("n1 is greater")
    if(n>n1):
        print("n is secod largest")
    else:
        print("n1 is second largest")

n1 is largest
n2 is second largest

In [6]:
#control flow statement
start = 1
while(start<20):
    print(start)
    start+=2

1
3
5
7
9
11
13
15
17
19

In [7]:

start = 20
while(start>1):
    print(start)
    start-=2

20
18
16
14
12
10
8
6
4
2

In [8]:
# digit counting
n=845
count = 0
while(n>0):
    n=n//10 
    count+=1
    print(count)

1
2
3

In [9]:
#for reverse digit
n=845
rev=0
while(n>0):
  x=n%10
  n//=10
  rev = rev*10+x
print(rev)

548

In [11]:
###### find all factor of a given number
fact=1
n=int(input("enter a number:"))
while(fact<=n):
    if (n%fact==0):
        print(fact)
    fact+=1

enter a number: 6

1
2
3
6

In [12]:
# find factorial of a given number
n=5
num=1
fact = 1
while(num<=n):
  fact*=num
  num+=1
print(fact)

120

In [13]:
#find gcd of a number
#b=15,a=10,rem=5
#b=10,a=5,rem=0
rem=0
b=10
a=15
while(b%a!=0):
    rem=b%a
    b=a
    a=rem
print(a)

5

In [14]:
n = input()
print(n)

 7

7

In [15]:
#find the square root of a given number
n=int(input("enter a number:"))
s=0
while(s*s<=n):
    s+=1
print(s-1)

enter a number: 7

2

In [16]:
6#find the sum of natural number
sum=0
num=1
n=int(input("enter a number:"))
while(num<=n):   
     sum+=num
     num+=1
print(sum)

enter a number: 7

28

In [17]:
#find the distance between  two points 
x,x1=0,5
y,y1=1,2
d=((x-x1)**2+(y-y1)**2)**0.5
print(d)

5.0990195135927845

In [18]:
#find the area of parallelogram
x1,x2,x3,x4=5,9,7,3
y1,y2,y3,y4=2,2,0,0
d1=((x1-x3)**2+(y1-y3)**2)**0.5
d2=((x2-x4)**2+(y2-y4)**2)**0.5
area=1/2*d1*d2
print(area)

8.94427190999916

In [19]:
###### find the sum of pattern upto 30
num=1
diff=1
while(True):
    num+=diff
    diff+=1
    if(num>30):
        break
    print(num)

2
4
7
11
16
22
29

In [20]:
#find no of zeroes in 155 factorial ans 38
#find the sum of all factor of 576 ans 1651.
#sum of all digit of  number.
#find the progrm to calculate the lCM of two number.
#to calculate prime factor of number.
#wrt to check a no. is prime or not.
#find 10 fibonaccii no.

In [21]:
#1
def count_trailing_zeros(n):
    count = 0
    while n >= 5:
        n //= 5
        count += n
    return count
num_zeros = count_trailing_zeros(155)
print(num_zeros)

38

In [22]:
#2
def sum_of_factors(n):
    sum_factors = 0
    for i in range(1, n + 1):
        if n % i == 0:
            sum_factors += i
    return sum_factors

number = 576
sum_factors = sum_of_factors(number)
print(sum_factors)

1651

In [27]:
#3
num = input("Enter Number: ")
sum = 0

for i in num:
    sum = sum + int(i)

print(sum)

Enter Number:  7

7

In [28]:
#4
num1 = 12
num2 = 14
for i in range(max(num1, num2), 1 + (num1 * num2)):
    if i % num1 == i % num2 == 0:
        lcm = i
        break
print("LCM of", num1, "and", num2, "is", lcm)

LCM of 12 and 14 is 84

In [29]:
#5
def prime_factors(n):
    factors = []
    # Check for number of 2s in n
    while n % 2 == 0:
        factors.append(2)
        n //= 2
    
    # Check for odd factors from 3 onwards
    for i in range(3, int(n**0.5) + 1, 2):
        while n % i == 0:
            factors.append(i)
            n //= i
    
    # If n becomes a prime number greater than 2
    if n > 2:
        factors.append(n)
    
    return factors

# Example usage
number = 56
result = prime_factors(number)
print(result)

[2, 2, 2, 7]

In [30]:
#6
def is_prime(n):
    # Check for edge cases
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    
    # Check for factors from 5 onwards
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    
    return True

# Example usage
number = 29
result = is_prime(number)
print(f"{number} is prime: {result}")

29 is prime: True

In [31]:
#7
def fibonacci(n):
    fib_sequence = []
    a, b = 0, 1
    while len(fib_sequence) < n:
        fib_sequence.append(a)
        a, b = b, a + b
    return fib_sequence

# Example usage
number_of_fib_numbers = 10
result = fibonacci(number_of_fib_numbers)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [34]:
#5
num=int(input("enter a number"))
isPrime = True
count=2
while(count<num):
    if(num%count==0):
        isPrime=False
        break
    count+=1
if(isPrime):
    print("Prime")
else:
    print("not Prime")

enter a number 8

not Prime

In [35]:
#STRING
s="coding blocks"
print(s[5::-1])

gnidoc

In [36]:
print(" coding blocks ") 
print(s.strip())

 coding blocks
coding blocks

In [37]:
#list
l=[2,4,5,0,1,9]
for i in l:
    print(i,end=", ")
for i in range(len(l)):
    print(l[i],end="$")

2, 4, 5, 0, 1, 9, 2$4$5$0$1$9$

In [38]:
#tuple
fruit=('mango','apple','orange','graphes')
print(fruit[0])
a,b,c,d=fruit
print(a,b,c,d)

mango
mango apple orange graphes

In [39]:
#function
def add(a,b):
   c=a+b
   return c
# call
add(5,7)

12

In [40]:
# multiplication
def mul(a,b):
    c=a*b
    return c
#call
mul(5,8)

40

In [41]:
#for prime no.
def PrimeNumber(num):
    isPrime=True
    count=2
    while(count<num):
        if(num%count==0):
            isPrime=False
            break
        count+=1
    return isPrime

l=[2,5,10,11,15,17]
for i in l:
    if(PrimeNumber(i)):
      print(i)

2
5
11
17

In [42]:
# for greeting
def greet(str='morning'): #default parametres
    print("hey' good"+str)
    return
ans=greet(' evening ')
print(ans)

hey' good evening
None

In [43]:
#lamda function
add=lambda a,b:a+b
print(add(5,7))
print(add(10,12))

12
22

In [44]:
l=[1,2,3,4,5]
for i in l:
    print(i**3, end=" ")
cube = lambda x:x**3
list(map(cube,l))

1 8 27 64 125

[1, 8, 27, 64, 125]

In [45]:
# for even no.
l=[1,2,3,4,5]
for i in l:
    if(i%2==0):
        print(i)
even = lambda x: x%2==0
list(filter(even,l))

2
4

[2, 4]

In [46]:
#dictionary
d={}
d['age']=20 
d['name']='janhavi'
print(d)
print(d.keys(), d.values())
for i in d:
    print(i,d[i])

{'age': 20, 'name': 'janhavi'}
dict_keys(['age', 'name']) dict_values([20, 'janhavi'])
age 20
name janhavi

In [47]:
#for concatenation
d={}
d['age']=20 
d['name']='janhavi'
print(d)
print(d.keys(), d.values())
for i in d:
    print(i,d[i])

for key,value in d.items():
    print(key + "=" + str(value))

{'age': 20, 'name': 'janhavi'}
dict_keys(['age', 'name']) dict_values([20, 'janhavi'])
age 20
name janhavi
age=20
name=janhavi

In [49]:
#wrt a program for symmetrical string (hint like as bob)
s=str(input("enter string"))
s==s[-1::-1]

enter string 8

True

In [50]:
#find the sum of all items in dictionary
d={'x':24,'y':25,'z':14}
sum=0
for i in d.values():
    sum+=i
print(sum)

63

In [51]:
#program to print or remove the 3value in list until it becomes empty. 
l=[1,2,3,4,5]
while(len(l)>0):
    if(len(l)>2):
        print(l[2])
        l.pop(2)
    else:
        print(l[-1])
        l.pop()

3
4
5
2
1

In [52]:
#program to print the numbers are same or not in dataset.
def check_numbers_same(dataset):
    if not dataset:
        print("The dataset is empty.")
        return

    first_number = dataset[0]    
    for number in dataset:
        if number != first_number:
            print("The numbers are not the same.")
            return
    print("All the numbers are the same.")

# Example dataset
dataset = [5, 5, 5, 5, 8]

# Call the function with the dataset
check_numbers_same(dataset)

The numbers are not the same.